<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let color of colores | slice: (page - 1) * pageSize:page * pageSize
      "
      class=""
    >
      <th scope="row">
        <button class="btn btn-dark" (click)="openModal(color.url!)">
          {{ color.nombre }}
        </button>
      </th>
      <td>
        <button class="btn btn-dark" (click)="eliminar(color.url!)">
          <fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
        <button class="btn btn-dark" (click)="editar(color)">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="colores.length"
  [maxSize]="maxSize"
  class="d-flex justify-content-center mt-4"
>
</ngb-pagination>
