<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar auto</h5>
</div>


<div class="modal-body">
<form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <div class="form-group">
      <label for="patente_id">Patente: </label>
      <input
        id="patente_id"
        type="text"
        formControlName="patente"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="modelo_id">Modelo: </label>
      <select
        id="modelo_id"
        type="text"
        class="form-control"
        name="modelo_pk"
        formControlName="modelo_pk"
      >
      <option 
        *ngFor="let modelo of modelos"
        value="{{ modelo.id }}"
        >
          {{ modelo.marca }} {{ modelo.nombre }}
      </option>
    </select>
    </div>
    <div class="form-group">
      <label for="marca_id">Color: </label>
      <select id="marca_id" 
        type="text" 
        class="form-control"
        name="color_pk"
        formControlName="color_pk"
        >
        <option
          *ngFor="let color of colores"
          value="{{ color.id }}"
          >
            {{color.nombre}}
        </option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-dark btn-lg btn-block mt-4 mb-0">Editar auto</button>
    </div>
  </form>
</div>