<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Detalle auto</h5>
</div>
<div class="modal-body text-center">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Patente:</strong> {{ auto.patente }}
    </li>
    <li class="list-group-item"><strong>Modelo:</strong> {{ auto.modelo }}</li>
    <li class="list-group-item"><strong>Color:</strong> {{ auto.color }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    (click)="closeModal()"
  >
    Cerrar
  </button>
</div>
